In [1]:
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
import random
import json
import requests
from config import api_key


# Create a reference the CSV file desired
csv_path = "2017_peak_hours_report_kdfactor.csv"
'''PEAK HOUR VOLUME DATA Peak hour volume data consists of hourly volume relationships and data location. The hourly volumes are expressed as a percentage of the Annual Average Daily Traffic (AADT). The percentages are shown for both the AM and the PM peak periods. The principle data described here are the K factor, the D factor and their product (KD). The K factor is the percentage of AADT during the peak hour for both directions of travel. The D factor is the percentage of the peak hour travel in the peak direction. KD multiplied with the AADT gives the one way peak period directional flow rate or the design hourly volume (DHV). The design hourly volume is used for either Operational Analysis or Design Analysis. Refer to the 2016 Highway Capacity Manual, 6th Edition A Guide for Multimodal Mobility Analysis for more details.'''

# Read the CSV into a Pandas DataFrame
aadt_df = pd.read_csv(csv_path)

# Print the first five rows of data to the screen
aadt_df.head()

,Year,District,Route,County,Postmile,Descriptn,Back_pk_h,Back_pk_m,Back_AADT,Ahead_pk_h,Ahead_pk_m,Ahead_AADT,Lat_S_or_W,Lon_S_or_W,Lat_N_or_E,Lon_N_or_E
0,2017,12,1,ORA,R0.129,"DANA POINT, JCT. RTE. 5",0,0,0,3800,41000,37750,33.467008,-117.669809,33.467078,-117.669952
1,2017,12,1,ORA,R0.78,"DANA POINT, DOHENY PARK ROAD",3800,41000,37750,3900,42000,38800,33.464080,-117.678915,33.464173,-117.678870
2,2017,12,1,ORA,R1.077,BREAK IN ROUTE,0,0,0,0,0,0,33.464159,-117.683985,33.464251,-117.683978
3,2017,12,1,ORA,8.43,"LAGUNA BEACH, MOUNTAIN ROAD",2900,39500,36800,2900,39500,36800,33.531702,-117.774805,33.531709,-117.774814
4,2017,12,1,ORA,9.418,"LAGUNA BEACH, JCT. RTE. 133 NORTH",3050,41000,38500,3450,41000,38500,33.542738,-117.785319,33.542738,-117.785319

In [2]:
aadt_df.shape

(28093, 16)

In [3]:
# Create a reference the CSV file desired
uber_lyft = "SF_TRAFFIC_2016.csv"
'''PEAK HOUR VOLUME DATA Peak hour volume data consists of hourly volume relationships and data location. The hourly volumes are expressed as a percentage of the Annual Average Daily Traffic (AADT). The percentages are shown for both the AM and the PM peak periods. The principle data described here are the K factor, the D factor and their product (KD). The K factor is the percentage of AADT during the peak hour for both directions of travel. The D factor is the percentage of the peak hour travel in the peak direction. KD multiplied with the AADT gives the one way peak period directional flow rate or the design hourly volume (DHV). The design hourly volume is used for either Operational Analysis or Design Analysis. Refer to the 2016 Highway Capacity Manual, 6th Edition A Guide for Multimodal Mobility Analysis for more details.'''

# Read the CSV into a Pandas DataFrame
uber_lyft_df = pd.read_csv(uber_lyft)

# Print the first five rows of data to the screen
uber_lyft_df.head()

,Unnamed: 0,ID,ModifiedTMC,TOD,YEAR,CHAMP_LINK_COUNT,PHF,ALPHA,BETA,FT2,...,FFS,INRIX_SPEED,SPEED_20TH,FF_TIME,INRIX_TIME,INRIX_VOL,CHAMP_PCE,CHAMP_VOL,TNC_VOL,TNC_PUDO
0,0,105&10491_AM,105&10491,AM,2016,2,0.348,0.60,3.5,2,...,28.467037,18.088510,10.483549,0.358309,0.563894,7660.134930,6320.848807,5793.641565,382.930621,9.324706
1,1,105&14211_AM,105&14211,AM,2016,6,0.348,0.60,8.5,4,...,25.215407,16.902508,14.949591,1.427699,2.129861,1342.742061,492.161158,459.129478,35.819280,0.315167
2,11,105+04869_AM,105+04869,AM,2016,8,0.348,0.83,8.5,1,...,67.730000,52.759624,49.480000,0.951248,1.221161,9359.350223,7463.839934,6847.118463,317.581145,0.244180
3,13,105+04873_AM,105+04873,AM,2016,1,0.348,0.60,8.5,4,...,45.930000,20.649362,7.180000,0.222077,0.493962,937.520667,229.839170,180.880750,87.934850,3.110000
4,15,105+05618_AM,105+05618,AM,2016,4,0.348,0.83,5.5,1,...,62.480000,37.604309,14.976000,0.525192,0.872613,11800.524230,7594.111413,7258.430157,51.922407,1.394222

In [4]:
# Check to see if there are any rows with missing data
# We have 1412 rows of data from 2015 to 2017 and 24 columns
aadt_df.count()

Year          28093
District      28093
Route         28093
County        28093
Postmile      28093
Descriptn     28093
Back_pk_h     28093
Back_pk_m     28093
Back_AADT     28093
Ahead_pk_h    28093
Ahead_pk_m    28093
Ahead_AADT    28093
Lat_S_or_W    28093
Lon_S_or_W    28093
Lat_N_or_E    28093
Lon_N_or_E    28093
dtype: int64

In [5]:
uber_lyft_df.count()

Unnamed: 0          6694
ID                  6694
ModifiedTMC         6694
TOD                 6694
YEAR                6694
CHAMP_LINK_COUNT    6694
PHF                 6694
ALPHA               6694
BETA                6694
FT2                 6694
LANES               6694
DISTANCE            6694
CAPACITY            6694
FFS                 6694
INRIX_SPEED         6694
SPEED_20TH          6694
FF_TIME             6694
INRIX_TIME          6694
INRIX_VOL           6694
CHAMP_PCE           6694
CHAMP_VOL           6694
TNC_VOL             6694
TNC_PUDO            6694
dtype: int64

In [6]:
# Collect a list of traffic locations in CA
columns = [
    "DI",  # Caltrans has twelve transportation districts statewide. This abbreviation identifies the district in which the count station is located. 
    "RTE", # The state highway route number. 
    "CO", # County abbreviation used by Caltrans
    "PRE", # The postmile may have a prefix like R, T, L, M, etc. When a length of highway is changed due to construction or realigment, new postmile values are assigned. To distinguish the new values from the old, an alpha code is prefixed to the new postmile. '''
    "PM", # The Post Mile is the mileage measured from the county line, or from the beginning of a route. Each postmile along a route in a county is a unique location on the state highway system. 
    "CS", # Control Station Number, Caltrans identification number for monitoring site. 
    "LEG", # For traffic counting purposes, a highway intersection or interchange is assigned two legs according to increasing postmiles (route direction) and with a postmile reference at the center of the intersection or interchange. 
    #  The volume of traffic on each leg is denoted by an A, B or O. 
    #  A = ahead leg, B = back leg, and O – traffic volume being same for both back and ahead legs.    
    "YR", # The year when the count was made. Traffic counting is on a 3-year cycle.
    "AM_DIR",   # Indicates direction of travel for peak volume.
    "AM_WAY_PHV",  # Peak Hour Volume in the peak direction. A one way volume in vehicles per hour (vph) as used here. The PHV is analogous to the DDHV as used for design purposes
    "AM_K_FACTOR_AMT", # The percentage of the AADT in both directions during the peak hour. Values in this table are derived by dividing the measured 2-way PHV by the AADT.
    "AM_D_FACTOR_AMT", #  D factor. The percentage of traffic in the peak direction during the peak hour.  Values in this book are derived by dividing the measured PHV by the sum of both directions of travel during the peak hour.
    "AM_KD_FACTOR",   #  The product of K and D. The percentage of AADT in the peak direction during the peak hour. Values in this table are derived by dividing the measured 1-way PHV by the AADT. 
    "AM_HOUR", 
    "AM_DAY",
    "AM_MONTH",
    "PM_DIR", 
    "PM_WAY_PHV",
    "PM_K_FACTOR_AMT",
    "PM_D_FACTOR_AMT",
    "PM_KD_FACTOR",
    "PM_HOUR",
    "PM_DAY",
    "PM_MONTH"
]

In [7]:
# Create a group based on the routes and mile post in California
aadt_group = aadt_df.groupby(['CO','RTE','PM'])

# look at count per location
print(f"aadt_group.count={aadt_group.count()}")

# o-Count how many times each location appears in our group

KeyError: 'CO'

In [ ]:
aadt3_df = aadt_df.loc[aadt_df["CO"] == "SF", columns]
aadt3_df

In [ ]:
# Collect a list of traffic locations in CA
columns = [
"ID",
"ModifiedTMC",
"TOD",
"YEAR",
"CHAMP_LINK_COUNT",
"PHF",
"ALPHA",
"BETA",
"FT2",
"LANES",
"DISTANCE",
"CAPACITY",
"FFS",
"INRIX_SPEED",
"SPEED_20TH",
"FF_TIME",
"INRIX_TIME",
"INRIX_VOL",
"CHAMP_PCE",
"CHAMP_VOL",
"TNC_VOL"
"TNC_PUDO"   
]

# ID - a unique ID, which is a combination of the next two fields
# ModifiedTMC	- ID for the spatial unit of analysis, a directional section of roadway
# TOD	- Time-of-day: AM=6-9 AM, MD=9 AM-3:30 PM, PM=3:30-6:30 PM, EV=6:30 PM-3:00 AM, EA=3-6 AM
# YEAR - The year, either 2010 or 2016
# CHAMP_LINK_COUNT - The number of SF-CHAMP links that aggregate to this ModifiedTMC
# PHF	- Peak Hour Factor, the share of the total period volume that occurs in the highest 1-hour period
# ALPHA - alpha term for use in VDF(volume-delay functions, the probability of Type I error in any hypothesis test–incorrectly rejecting the null hypothesis.)
# BETA - beta term for use in VDF (volume-delay functions, the probability of Type II error in any hypothesis test–incorrectly failing to reject the null hypothesis)
# AT - Area Type: 0=Regional Core, 1=Central Business Distritc, 2=Urban Business, 3=Urban
# FT2 - Facility Type: 1-Freeway, Expressway or Ramp, 2=Major Arterial, 3=Minor Arterial, 4=Local or Collector
# LANES - Number of lanes (can be non-integer due to averaging across SF-CHAMP links)
# DISTANCE - distance in miles
# CAPACITY - capacity in vehicles for the period as a whole
# FFS	- free flow speed
# INRIX_SPEED	- average speed, as measured by INRIX data
# SPEED_20TH - 20th percentile speed, as measured by INRIX data
# FF_TIME	- free flow travel time
# INRIX_TIME - average travel time, as measured by INRIX data
# INRIX_VOL - implied volume
# CHAMP_PCE - SF-CHAMP passenger car equivalents (PCEs)
# CHAMP_VOL - SF-CHAMP volume (vehicles)
# TNC_VOL	- TNC volume(transportation network companies,uber, lyft)
# TNC_PUDO - TNC pick-ups and drop-offs

In [ ]:
# uber_lyft_group = uber_lyft_df.groupby(['TNC_PUDO','TNC_VOL'])
# gov_data_time = uber_lyft_df.groupby(['FF_TIME','INRIX_TIME'])
# gov_data_volume = uber_lyft_df.groupby(['CHAMP_VOL','INRIX_VOL'])
# gov_data_speed = uber_lyft_df.groupby(['FFS','INRIX_SPEED'])

# traffic_sf_df = pd.DataFrame({'uber_lyft_group': [uber_lyft_group], 'gov_data_time': [gov_data_time], 'gov_data_speed': [gov_data_speed], 'gov_data_volume': [gov_data_volume] })

In [ ]:
# Create a scatter plot which compares PM PHV  to AM PHV for all highways
aadt_df.plot(kind="scatter", x="PM_KD_FACTOR", y="AM_KD_FACTOR", grid=True, figsize=(10,5),
              title="STATE WIDE PERCENTAGE OF AADT IN THE PEAK DIRECTION DURING PEAK HOURS IN AM OR PM")
plt.show()
# 1412 records of AADT with route and mile post; no lat and long
# Plot indicates 2% to 20% OF daily traffic occurs in peak morning hour
# 3% to 15% of daily traffic occurs in peak evening hour.

In [ ]:
uber_lyft_df.plot(kind="scatter", x="TNC_PUDO", y="TNC_VOL", grid=True, figsize=(10,5),
              title="Uber_Lyft Picups and dropoffs by volume")
plt.show()

In [ ]:
uber_lyft_df.plot(kind="scatter", x="INRIX_TIME", y="INRIX_VOL", grid=True, figsize=(10,5),
              title="Time over volume")
plt.show()

In [ ]:
uber_lyft_df.plot(kind="scatter", x="FFS", y="INRIX_SPEED", grid=True, figsize=(10,5),
              title="STATE WIDE PERCENTAGE OF AADT IN THE PEAK DIRECTION DURING PEAK HOURS IN AM OR PM")
plt.show()

In [ ]:
# Set x axis and tick locations
x_axis = np.arange(len(aadt3_df))
tick_locations = [value for value in x_axis]

In [ ]:
#create summary 
County_sum = (aadt_df.groupby("CO")["AM_WAY_PHV"].count())
AM_max = (aadt_df.groupby("CO")["AM_WAY_PHV"].max())
PM_max = (aadt_df.groupby("CO")["PM_WAY_PHV"].max())
AM_avg = (aadt_df.groupby("CO")["AM_WAY_PHV"].mean().round(2))
PM_avg = (aadt_df.groupby("CO")["PM_WAY_PHV"].mean().round(2))
AM_min = (aadt_df.groupby("CO")["AM_WAY_PHV"].min())
PM_min = (aadt_df.groupby("CO")["PM_WAY_PHV"].min())

ca_df = pd.DataFrame({'AM max PHV': AM_max, 'PM max PHV': PM_max, 'AM avg PHV': AM_avg, 'PM avg PHV': PM_avg, 'AM min PHV': AM_min, 'PM min PHV': PM_min })
ca_df

In [ ]:
# Plot Data 
ca_df.plot(kind="line", figsize=(10,5))

# Set a title for the chart
plt.title("CA County Peak Hourly Volumn")
plt.xlabel(" Counties")
plt.ylabel(" Volumn of Traffic in Morning")

#Add the legend.
legend = plt.legend(loc = "best")
legend.legendHandles[0]._sizes = [30]
legend.legendHandles[1]._sizes = [30]
legend.legendHandles[2]._sizes = [30]

plt.show()
plt.tight_layout()

In [ ]:
# # Plot Data 
# traffic_sf_df.plot(kind="line", figsize=(10,5))

# # Set a title for the chart
# plt.title("Uber-Lyft Pick-ups and Volume")
# plt.xlabel("Volume")
# plt.ylabel("Pickups")

# #Add the legend.
# legend = plt.legend(loc = "best")
# legend.legendHandles[0]._sizes = [30]
# legend.legendHandles[1]._sizes = [30]
# legend.legendHandles[2]._sizes = [30]

# plt.show()
# plt.tight_layout()

In [ ]:
#create summary 
County_sum = (aadt_df.groupby("CO")["AM_WAY_PHV"].count())
AM_max = (aadt_df.groupby("CO")["AM_WAY_PHV"].max())
PM_max = (aadt_df.groupby("CO")["PM_WAY_PHV"].max())
AM_avg = (aadt_df.groupby("CO")["AM_WAY_PHV"].mean().round(2))
PM_avg = (aadt_df.groupby("CO")["PM_WAY_PHV"].mean().round(2))
AM_min = (aadt_df.groupby("CO")["AM_WAY_PHV"].min())
PM_min = (aadt_df.groupby("CO")["PM_WAY_PHV"].min())

ca_df = pd.DataFrame({'AM max PHV': AM_max, 'PM max PHV': PM_max, 'AM avg PHV': AM_avg, 'PM avg PHV': PM_avg, 'AM min PHV': AM_min, 'PM min PHV': PM_min })
ca_df

In [ ]:
# Create a list indicating where to write x labels and set figure size to adjust for space
plt.figure(figsize=(20,3))
plt.xlabel(" Route and Mile Post")
plt.ylabel(" Volumn of Traffic in Morning")
plt.bar(x_axis, aadt3_df["AM_WAY_PHV"], color='r', alpha=0.5, align="center")
plt.xticks(tick_locations, aadt3_df["RTE"], rotation="vertical")

# Create a list indicating where to write x labels and set figure size to adjust for space
plt.figure(figsize=(20,3))
plt.xlabel(" Route and Mile Post")
plt.ylabel(" Volumn of Traffic in Morning")
plt.bar(x_axis, aadt3_df["PM_WAY_PHV"], color='g', alpha=0.5, align="center")
plt.xticks(tick_locations, aadt3_df["RTE"], rotation="vertical")

plt.show()

In [ ]:
PM_PHV =(aadt3_df["PM_WAY_PHV"].max())
PM_PHV, " VEHICLES LEAVE SF ON HWY 280 IN THE EVENING COMMUTE"

In [ ]:
FFS =(uber_lyft_df["FFS"].mean())
FFS, "Average Speed in San Francisco"

In [ ]:
AM_PHV =(aadt_df["AM_WAY_PHV"].max())
AM_PHV, " VEHICLES COME TO SF USING HWY 280 DURING MORNING COMMUTE"

In [ ]:
INRIX_TIME =(uber_lyft_df["INRIX_TIME"].mean())
INRIX_TIME, "Inner City Travel Time (Minutes), getting from any one zone to another"

In [ ]:
PM_PHV =(aadt3_df["PM_WAY_PHV"].max())
"HIGHEST TRAFFIC ON ROUTE 280 IN THE EVENING IS ", PM_PHV

In [ ]:
TNC_VOL =(uber_lyft_df["TNC_VOL"].mean())
"Average volume of traffic at all measured locations for Uber and Lyft", TNC_VOL

In [ ]:
TNC_PUDO =(uber_lyft_df["TNC_PUDO"].mean())
"Average distance from pick-ups to drop-offs in all locations", TNC_PUDO

In [ ]:
# Set x axis and tick locations
x_axis = np.arange(len(aadt3_df))
tick_locations = [value for value in x_axis]

In [ ]:
# Create a list indicating where to write x labels and set figure size to adjust for space
plt.figure(figsize=(20,10))
plt.xlabel(" Route and Mile Post")
plt.ylabel(" Volumn of Traffic in Morning (vehicles)")
plt.bar(x_axis, aadt3_df["AM_WAY_PHV"], color='r', alpha=.5, align="center")
plt.xticks(tick_locations, aadt3_df["RTE"], rotation="vertical")

# Create a list indicating where to write x labels and set figure size to adjust for space
plt.figure(figsize=(20,10))
plt.xlabel(" Route and Mile Post")
plt.ylabel(" Volumn of Traffic in Evening (vehicles)")
plt.bar(x_axis, aadt3_df["PM_WAY_PHV"], color='g', alpha=.5, align="center")
plt.xticks(tick_locations, aadt3_df["RTE"], rotation="vertical")

plt.show()

In [ ]:
# The maximum x value for LA data only
x_limit = 20000000
y_limit = 20000000

# Tells matplotlib that we want to make a scatter plot
# The size of each point on our plot is determined by percent of AADT at peak hour

plt.xlabel(" % AADT in evening commute")
plt.ylabel(" % AADT in morning commute")

plt.scatter(aadt3_df["PM_KD_FACTOR"], aadt3_df["AM_KD_FACTOR"],  marker="o", facecolors="gold", edgecolors="black",
            s=aadt3_df["AM_WAY_PHV"]/100, alpha=0.5)
plt.show

In [ ]:
# The compare traffic volumn LA and SF
x_limit = 200000000
y_limit = 2000000
plt.xlabel(" volumn of traffic in peak hour of evening commute")
plt.ylabel(" volumn of traffic in peak hour of morning commute")

# LA
# The size of each point on our plot is determined by their x value
plt.scatter(aadt3_df["PM_WAY_PHV"], aadt3_df["AM_WAY_PHV"], marker="o", facecolors="gold", edgecolors="black",
            s=aadt3_df["PM_KD_FACTOR"]*100, alpha=0.5)
# SF
# The size of each point on our plot is determined by their x value
plt.scatter(aadt3_df["PM_WAY_PHV"], aadt3_df["AM_WAY_PHV"], marker="o", facecolors="blue", edgecolors="black",
            s=aadt3_df["PM_KD_FACTOR"]*100, alpha=0.5)

# LA has higher volumn of traffic
# LA has higher percentage of traffic traveling during commute hours
plt.show

In [ ]:
# Save config informationfor open weather API
url = "http://api.openweathermap.org/data/2.5/weather?"
city1 = "San Francisco"

# Build query URL
query_url = url + "appid=" + api_key + "&q=" + city1

In [ ]:
# Get weather data for SF from OPEN WEATHER API
weather_response = requests.get(query_url)
weather_json = weather_response.json()

# Get the temperature from the response
print(f"The weather API responded with: {weather_json}.")

In [ ]:
# Print the output of the JSON
print(json.dumps(weather_json, indent=4, sort_keys=True))

In [ ]:
# Save config information for LA   from OPEN WEATHER API
url = "http://api.openweathermap.org/data/2.5/weather?"
city2 = "Los Angeles"

#Build query URL
query_url = url + "appid=" + api_key + "&q=" + city2

In [ ]:
# Get weather data for LA
weather_response = requests.get(query_url)
weather_json = weather_response.json()

# Get the temperature from the response
print(f"The weather API responded with: {weather_json}.")

In [ ]:
# Print the output of the JSON
print(json.dumps(weather_json, indent=4, sort_keys=True))

In [ ]:
######################################################################################################################

In [ ]:
######################################################################################################################

In [ ]:
######################################################################################################################

In [ ]:
# Street_Pavement_Condition Legend
# Field Name Data / Type / Definition Notes (optional)
#   "CNN"           Number    CNN of street segment or intersection location
# "STREET"          Text / VarChar      Street name
# "PCI_Score"       Number    Paving Condition Index Score
# "From_Street"     Text      Cross street 1
# "To_Street"       Text      Cross street 2
# "PCI_Change_Date" Date      Date condition score last updated
# Street_Accepted_For_Maintenance     Yes/No      Street accepted for maintenance by Public Works
# "Functional_Class" Text
# The functional class of the street segment:
# Arterial, Collector or Residential.

In [ ]:
# Column Name      Description                 Type
#   "CNN"   unique street centerline ID       Number
# "STREET"  street name                       Plain Text / VarChar
# "ST_TYPE" street type                       Plain Text
# "NHOOD"   neighborhood the street segment is in / Plain Text  
# "CNNTEXT" CNN as a text field              Plain Text              
# "shape"                                    Line-String

In [ ]:
# Extract CSVs into DataFrames

In [ ]:
# Extract Street_Pavement_Condition.csv into DataFrames (City Infrastructure)
SPC_file = "Street_Conditions_2017.csv"
Street_Condition_df = pd.read_csv(SPC_file)
Street_Condition_df.head(10)

In [ ]:
# Extract Rush_Hour_Routes.csv into Dataframes
RH_file = "Rush_Hour_Routes.csv"
Rush_Hour_Routes_df = pd.read_csv(RH_file)
Rush_Hour_Routes_df.head(10)

In [ ]:
# Transform Street_Condition_df DataFrame

In [ ]:
# Create a filtered dataframe from specific columns
SPC_cols = ["STREET","CNN","Street_Accepted_For_Maintenance"]
SPC_transformed = Street_Condition_df[SPC_cols].copy()

# Rename the column headers
SPC_transformed = SPC_transformed.rename(columns={"STREET":"Street",
                                                  "CNN":"Cnn",
                                                  "Street_Accepted_For_Maintenance":"Street_Maintenance"})

# Clean the data by dropping duplicates and setting the index
SPC_transformed.drop_duplicates("Cnn", inplace=True)
SPC_transformed.set_index("Cnn", inplace=True)

SPC_transformed.head()

In [ ]:
# Transform Rush_Hour_Routes_df Dataframe

In [ ]:
# Create a filtered dataframe from specific columns
RH_Routes_cols = ["Street_name","CNN", "NHOOD"]
RH_Routes_transformed = Rush_Hour_Routes_df[RH_Routes_cols].copy()

# Rename the column headers
RH_Routes_transformed = RH_Routes_transformed.rename(columns={"Street_name":"Street",
                                               "CNN":"Cnn",
                                               "NHOOD":"Neighborhood"}) 
# Set Index
RH_Routes_transformed.set_index("Cnn", inplace=True)
RH_Routes_transformed.head()

In [ ]:
# Create database , table schema , queries via PostgresSQL / Create Database connection

In [ ]:
connection_string = "postgres:password@localhost:5432/Traffic_db"
engine = create_engine(f'postgresql://{connection_string}')

In [ ]:
# Confirm tables (Street_Condition) & (Rush_Hour)
engine.table_names()

In [ ]:
# Load DataFrames into PostgresSQL database

In [ ]:
SPC_transformed.to_sql(name='Street_Condition', con=engine, if_exists='append', index=True)

In [ ]:
RH_Routes_transformed.to_sql(name='Rush_Hour_Routes', con=engine, if_exists='append', index=True)